<app-menu></app-menu>

<app-window-box title="Criar Filme">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

  <app-input label="Nome" [formControl]="nome" type="text"></app-input>
  <app-input label="Diretor" [formControl]="diretor" type="text"></app-input>
  <app-input label="Ano de Lançamento" [formControl]="anoLancamento" type="number"></app-input>
  <app-input label="Duração (min)" [formControl]="duracao" type="number"></app-input>
  <app-input label="Produtora" [formControl]="produtora" type="text"></app-input>
  <app-input label="Classificação" [formControl]="classificacao" type="text"></app-input>
  <app-input label="Poster (URL)" [formControl]="poster" type="url"></app-input>

    <div style="display: flex; flex-direction: row; gap: 10px; margin-top: 20px;">
      <app-button label="Criar Filme" tipo="submit"></app-button>
    </div>
  </form>
</app-window-box>
