label {
    display: block;
    font-family: 'Courier New', monospace;
    color: #00ffff;
    font-size: 0.9rem;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    background-color: #000;
    border: 2px solid #00ffff;
    border-radius: 0px; /* quadrado */
    color: #fff;
    font-size: 1rem;
    font-family: 'Courier New', monospace;
    box-shadow: 2px 2px 0 #ff00ff;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  input::placeholder {
    color: #888;
    font-style: italic;
  }
  
  input:focus {
    border-color: #ff00ff;
    box-shadow: 2px 2px 0 #00ffff;
    background-color: #111;
  }